- var cmds = 'var imgs = ' + JSON.stringify(imgs) + ';' + 'var situations = ' + JSON.stringify(situations) + ';'
script(type='text/javascript')!= cmds

h1= title
#upload-container.container
	h2.section-header Upload images
	.section
		form(action='/upload', method='post', enctype='multipart/form-data')
			input(type='file', name='img')
			input(type='text', name='tags', maxlength='100')
			br
			input(type='submit', value='upload')
#create-situation-container.container
	h2.section-header Create situation
	.section
		| Description:
		br
		textarea(id='situation-description', cols='100', rows='4')
		#situation-images
			.situation-image-container
				.situation-image(id='img1')
					img.icon-remove(src='/images/cross.png')
				input(type='text', id='img1-val', maxlength='4', size='4')
			.situation-image-container
				.situation-image(id='img2')
					img.icon-remove(src='/images/cross.png')
				input(type='text', id='img2-val', maxlength='4', size='4')
			.situation-image-container
				.situation-image(id='img3')
					img.icon-remove(src='/images/cross.png')
				input(type='text', id='img3-val', maxlength='4', size='4')
			.situation-image-container
				.situation-image(id='img4')
					img.icon-remove(src='/images/cross.png')
				input(type='text', id='img4-val', maxlength='4', size='4')
		button#situation-save(type='button') save
		br
		input(type='text', name='tag-search')
		#images
			each doc in imgs
				img(id='#{doc._id}', src='/thumb/#{doc._id}')
#list-situations.container
	h2.section-header All situations
	.section
		#situations
			each doc in situations
				.situation(id='#{doc._id}')
					.edit-remove
						button.edit-situation(type='button') Edit
					p #{doc.description}
					img(src="/thumb/#{doc.img1.id}")
					img(src="/thumb/#{doc.img2.id}")
					img(src="/thumb/#{doc.img3.id}")
					img(src="/thumb/#{doc.img4.id}")